* {
  margin: 0;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, rgb(17, 17, 17), rgb(44, 44, 44));
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: row;
}

.score {
  color: white;
  padding-block: 10px;
}

.tetris {
  background-color: rgb(73, 37, 2);
  padding: 0.5vh;
  border: 20px solid rgb(136, 70, 4);
  border-top: 1px solid rgb(136, 70, 4);
  border-radius: 0.5vh 0.5vh 4vh 4vh;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(20, auto);
}

.tetris div {
  height: min(4vh, 7vw);
  width: min(4vh, 7vw);
  background-color: #4545454d;
  border: 0.01px solid rgb(100, 54, 8);
  border-radius: 0.3vh;
}

@media (max-width: 1100px) {
  .game {
    flex-direction: column;
  }
}
