* {
  margin: 0;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, rgb(17, 17, 17), rgb(44, 44, 44));
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.game {
  display: flex;
  flex-direction: row;
}

.info {
  color: white;
  text-align: end;
}

.keyboard-play,
.info {
  width: min(20vw, 20vw);
  padding: 10px;
  font-size: 2.8vh;
  text-wrap: nowrap;
}

/* #region tetris field */
.tetris {
  background-color: rgb(73, 37, 2);
  padding: 0.5vh;
  border: 1vh solid rgb(136, 70, 4);
  border-top: 0.2vh solid rgb(136, 70, 4);
  border-radius: 0.5vh 0.5vh 1vh 1vh;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(20, auto);
}

.tetris div {
  height: min(4vh, 7vw);
  width: min(4vh, 7vw);
  background-color: #4545454d;
  border: 0.01px solid rgb(100, 54, 8);
  border-radius: 0.3vh;
}
/* #endregion */

/* #region pause, game over, restart */
.pause-block,
.game-over,
.confirm-restart-block {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10%;
  background-color: rgb(41, 41, 41, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 50;
}

.try-again {
  color: rgb(146, 220, 55);
  cursor: pointer;
}

.pause-text,
.try-again,
.confirm-restart-block {
  font-size: 3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.text-game-over {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5vh;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}

.score-result {
  font-size: 3vh;
  color: antiquewhite;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

.try-again:hover {
  color: rgb(180, 251, 92);
}

.pause-text,
.confirm-restart-block {
  color: rgb(249, 140, 50);
  text-align: center;
}

.btn-restart-yes,
.btn-restart-no {
  width: 10vh;
  border-radius: 1vh;
  font-size: 2vh;
  padding: 0.5vh;
}

.btn-restart-yes {
  background-color: green;
  border: 0.2vh solid greenyellow;
  color: greenyellow;
  cursor: pointer;

  &:hover {
    border-color: green;
    color: green;
    background-color: greenyellow;
  }
}

.btn-restart-no {
  background-color: rgb(194, 0, 0);
  border: 0.2vh solid rgb(255, 170, 170);
  color: rgb(255, 170, 170);
  cursor: pointer;

  &:hover {
    border-color: rgb(194, 0, 0);
    color: rgb(194, 0, 0);
    background-color: rgb(255, 170, 170);
  }
}

/* #endregion */

/* #region block-keyboard-play */
.keyboard-play {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2vh;
}

/* #region button restart, pause */
.pause-btn,
.restart-btn {
  display: inline-block;
  position: relative;
  width: 10vh;
  font-size: 2vh;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 1vh;
  transition: background-color 0.3s, color 0.3s;
}

.pause-btn {
  margin-top: 1vh;
  border: 0.3vh solid #004e96;
  color: #004e96;
  background-color: #6db8fd;
  z-index: 100;

  &:hover {
    background-color: #004e96;
    color: #6db8fd;
  }

  &:active {
    background-color: rgb(114, 58, 2);
    border-color: rgb(114, 58, 2);
    color: #fff;
  }
}

.restart-btn {
  border: 0.3vh solid #781301;
  color: #781301;
  background-color: #ee6f61;

  &:hover {
    background-color: #781301;
    color: #ee6f61;
  }

  &:active {
    background-color: rgb(114, 58, 2);
    border-color: rgb(114, 58, 2);
    color: #fff;
  }
}
/* #endregion */

.block-rotate-down {
  display: flex;
  flex-direction: row;
  gap: 2vh;
  margin: 10vh 10vh 1vh 2vh;
}

.quick-down img {
  border-radius: 2vh;
}

.rotate img {
  background-color: rgb(208, 247, 208);
  border-radius: 50%;
}

.block-arrow {
  display: flex;
  flex-direction: row;
  gap: 0.5vh;
}

.btn-left img,
.btn-right img,
.btn-down img {
  background-color: rgb(254, 131, 8);
  border-radius: 2vh;
}

.quick-down img,
.rotate img,
.btn-left img,
.btn-right img,
.btn-down img {
  width: 5vh;
  border: 0.3vh solid rgb(44, 44, 44);
  cursor: pointer;

  &:hover {
    border: 0.3vh solid rgb(240, 250, 190);
  }

  &:active {
    border: 0.3vh solid rgb(0, 122, 0);
  }
}
/* #endregion */

/* #region next figure */
.next-figure-field {
  display: grid;
  justify-content: end;
  margin-top: 2vh;
  gap: 0.2vh;
}
.next-figure-field div {
  height: 2vh;
  width: 2vh;
  border-radius: 0.2vh;
}

/* #endregion */

/* @media (max-width: 1100px) {
  .game {
    flex-direction: column;
  }

  .score {
    margin-left: auto;
    margin-right: 20px;
  }

  .total-score {
    margin-left: 10px;
  }
} */
